.bills-container {
    display: flex;
    flex-direction: column-reverse;
}

.bills--totals, .bills--header {
    display: flex;
    justify-content: flex-end;
}

.bills--header h1 {
    margin: auto;
}